.cont-iframe{ 
    position: relative;                                            
    height: 800px;              
    margin-left: 20%;
    margin-right: 20%;
    }
.cLogo{ background-color: blue;
    cursor: default;
    position: absolute;                                          
    height: 100px;
    width: 50%;    
    right: 0px;   
    z-index: 3;    
    opacity: 0.0;                           
    }
.fr{              
position:absolute;              
width: 100%;
height: 800px;
z-index: 0; 
} 